@media (min-width: 768px) {

  h2 {
    padding: 40px 16px;
  }

  .nav {
    li {
      a {
        font-size: 14px;
        padding: 32px 24px;
      }

      a.btn-dark {
        border: 2px solid $deep_purple;
        border-radius: 4px;
        padding: 16px 40px;
        margin-top: 14px;
        font-weight: 600;
        width: auto;

        &:hover {
          background: $deep_purple;
          color: $pure_white;
        }
      }
    }
  }

  .hero-slider {
    text-align: left;

    &__slide {
      &__content {
        h3 {
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          margin: 16px 0 8px;
        }
      }
    }
  }

  #resource-grid {
    .resource-type-filter {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        background: none;

        li {
          display: inline-block;
          padding: 0 24px;

          a {
            color: transparentize($deep_purple, 0.4);
            display: block;
            font-size: 18px;
            text-align: center;
            padding: 0;

            svg {
              display: inline;
            }

            svg path,
            svg polyline {
              stroke: #acb1ba;
            }

            span {
              display: block;
            }

            &.active,
            &:hover {
              color: $deep_purple;
              text-decoration: none;

              svg path,
              svg polyline {
                stroke: $deep_purple;
              }
            }
          }
        }
      }
    }
  }

  .resource-item {
    $grandparent: &;

    &#{&}__no-image {
      #{$grandparent}__body {
        height: 380px;
      }
    }

    #{&}__image {
      height: 200px;
    }

    #{&}__body {
      height: 180px;
      h3 {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  .press-item {
    &__body {
      h3 {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  #cta-primary {
    p {
      font-size: 24px;
      line-height: 32px;
      padding: 80px 0 20px;
    }

    .input-group {
      margin: 0 auto 80px;

      input {
        width: 300px;
      }

      button {
        width: 200px;
      }
    }
  }

}
