@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// colors
$mardi_gras: #566BB3;
$mirror_1: #8CD2D6;
$mirror_2: #607AB9;
$ice_gray: #F1F2F2;
$cinnabar: #E84D4C;
$deep_purple: #484E63;
$pure_white: #FFFFFF;

body {
  color: $deep_purple;
  font-family: "Avenir Next", "Avenir", "Open Sans", sans-serif;
}

#top,
.navbar,
.navbar-header {
  height: 84px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding: 20px 16px;
  text-align: center;
  margin: 0;
}

.navbar {
  background-color: $pure_white;
  box-shadow: 0 2px 10px 0 rgba(72,78,99,0.14);
  border: none;
  margin-bottom: 0;
}

.navbar-toggle {
  margin-top: 24px;
  border: 2px solid $deep_purple;

  .icon-bar {
    background: $deep_purple;
  }
}
.navbar-collapse {
  text-align: center;
  background: $pure_white;
  height: 100vh !important;
  max-height: none !important;
}

.navbar-brand {
  padding: 29px 32px 0;
}

.nav {
  li {
    a {
      color: $deep_purple;
      font-size: 16px;
      text-transform: uppercase;
      padding: 16px;

      &:focus,
      &:hover {
        background-color: $pure_white;
        color: $mirror_1;
      }

    }

    a.btn-dark {
      border: 2px solid $deep_purple;
      border-radius: 4px;
      padding: 16px 40px;
      margin: 0 auto;
      font-weight: 600;
      width: 75%;

      &:hover {
        background: $deep_purple;
        color: $pure_white;
      }
    }


    &.active {
      a {
        background-color: $pure_white;
        color: $mirror_1;
      }
    }
  }
}

#hero {
  background-image: url('../images/hero/slide_1@2x.png');
  background-size: cover;
  position: relative;
}

.hero-slider {
  background-image: linear-gradient(0deg, #8CD2D6 0%, #607AB9 100%);
  z-index: 50;
  text-align: center;

  .slick-slide {
    background-size: cover;
    background-position: center;
  }

  $slick-dot-color: $pure_white !default;
  $slick-dot-color-active: $slick-dot-color !default;
  $slick-dot-character: "\2022" !default;
  $slick-dot-size: 24px !default;
  $slick-opacity-default: 1 !default;
  $slick-opacity-on-hover: 1 !default;
  $slick-opacity-not-active: 0.25 !default;

  .slick-dots {
    position: absolute;
    bottom: 8px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
  }

  &__slide {
    display: table;
    height: 450px;

    &__content {
      display: table-cell;
      vertical-align: middle;
      color: $pure_white;

      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }

      h3 {
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        margin: 16px 0 8px;
      }

      p {
        font-size: 20px;
        line-height: 32px;
      }

      a.btn-download {
        display: inline-block;
        background-color: $cinnabar;
        color: $pure_white;
        padding: 16px 32px;
        border-radius: 4px;
        margin-top: 16px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.hero-slider-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 30px;

  .hero-slider-nav {
    z-index: 100;
  }

  .slick-list {
    padding-right: 16px;
  }

  .slick-slide {
    background: $pure_white;
    padding: 16px;
    height: 115px;
    margin: 8px 0;
    cursor: pointer;
    position: relative;

    .resource-type {
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      color: $mirror_1;
    }

    .active-arrow {
      position: absolute;
      right: -24px;
      top: 48px;
      display: none;
      width: 24px;
      height: 24px;
      background: $pure_white;
      margin: 3px 0 0 30px;
      /* Rotate */
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      /* Rotate Origin */
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      margin: 8px 0 0;
      line-height: 25px;
      color: $deep_purple;
    }

    &.slick-current {
      .active-arrow {
        display: block;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

#resource-grid {
  background: $ice_gray;
  padding-bottom: 80px;

  .resource-type-filter-dropdown {
    text-align: center;
    margin-bottom: 16px;
    
    a {
        cursor: pointer;
        width: 90%;
        display: block;
        padding: 0 16px;
        margin: 0 auto;
        text-align: left;
        font-size: 16px;
        line-height: 50px;
        color: #adb1b9;
        background: $pure_white;
        height: 50px;
        border-radius: 4px;

        background-image: url('../images/ico-dropdown.svg');
        background-repeat: no-repeat;
        background-position: 95% center;

        &:hover {
          text-decoration: none;
        }
    }
  }

  .resource-type-filter {
    text-align: center;
    margin-bottom: 40px;
    ul {
      background: $pure_white;
      width: 90%;
      margin: 16px auto;
      list-style: none;
      padding: 0;

      li {
        a {
          padding: 16px;
          text-align: left;
          display: block;

          svg {
            display: none;
          }

          &:hover {
            background: #adb1b9;
            color: $pure_white;
            text-decoration: none;
          }
        }
      }
    }

  }
}

.resource-item {
  $grandparent: &;
  margin-bottom: 30px;

  > a {
    display: block;
    &:hover {
      text-decoration: none;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    }
  }


  &#{&}__video-resource {
    #{$grandparent}__image {
      position: relative;
      #{$grandparent}__btn-play {
        background-color: transparentize($deep_purple, 0.4);
        background-image: url('../images/btn-play.svg');
        background-repeat: no-repeat;
        background-size: 54px;
        background-position: center;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
      }
    }
  }

  &#{&}__email-cta {
    text-align: center;

    #{$grandparent}__body {
      height: 380px;
      display: table;

      #{$grandparent}__body-cell {
        display: table-cell;
        vertical-align: middle;
      }

      h3 {
        margin-bottom: 16px;
      }

      form {
        input {
          display: block;
          width: 100%;

          &:focus {
            outline: none;
          }
        }

        input[type="text"] {
          border-radius: 4px;
          background-color: $ice_gray;
          border: none;
          padding: 16px;
        }

        input[type="submit"] {
          margin-top: 16px;
          background: $mirror_1;
          border: none;
          border-radius: 4px;
          padding: 16px;
          font-size: 14px;
          font-weight: 600;
          color: #FFFFFF;
          letter-spacing: 0.4px;
          text-transform: uppercase;
        }
      }
    }
  }

  &#{&}__icon-type {
    #{$grandparent}__image {
      background-color: $mardi_gras;
      display: table;
      width: 100%;
      text-align: center;

      svg {
        width: 48px;
        height: 48px;

        path {
          stroke: $pure_white;
        }
      }
    }

    #{$grandparent}__image-cell {
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
    }
  }

  &#{&}__no-image {
    #{$grandparent}__body {
      height: 345px;

      p {
        font-size: 14px;
        line-height: 22px;
        color: $deep_purple;
      }

      h3 {
        margin-bottom: 8px;
      }
    }
  }
  span {
    color: $mirror_2;
    font-weight: 600;
  }

  #{&}__image {
    height: 124px;

    img {
      width: 100%;
    }
  }

  #{&}__body {
    background: $pure_white;
    position: relative;
    padding: 16px;
    height: 220px;

    h3 {
      color: $deep_purple;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 8px 0 0;
    }
  }

  #{&}__cta-text {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    color: $mirror_1 !important;
    text-align: center;
  }
}

.next-prev,
.view-more {
  text-align: center;

  a {
    display: inline-block;
    border: 2px solid $deep_purple;
    border-radius: 4px;
    padding: 16px 40px;
    color: $deep_purple;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px auto;

    &:hover {
      background: $deep_purple;
      color: $ice_gray;
      text-decoration: none;
    }
  }
}

.resources-pagination {
  background: $pure_white;
  padding: 8px;

  p {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
  }

  p, &__btn {
    float:right;
  }

  &__btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: $deep_purple;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-left: 8px;
  }

  &__btn-inactive {
    background-color: $ice_gray;
  }

  &__btn-prev {
    background-image: url('../images/pagination-prev.svg');
  }
  &__btn-next {
    background-image: url('../images/pagination-next.svg');
  }
}

#in-the-press {
  padding: 40px 0;
  background: $pure_white;
}

.press-item {
  $grandparent: &;
  height: 265px;
  margin-bottom: 30px;

  > a {
    display: block;
    height: 100%;

    &:hover {
      text-decoration: none;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    }
  }

  &__image {
    background-size: cover;
    height: 100%;
  }

  &__body {
    background-color: transparentize($deep_purple, 0.3);
    width: 100%;
    height: 100%;
    padding: 16px;
    position: relative;
    color: $pure_white;

    #{$grandparent}__body_title {
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
    }
    span {
      font-weight: 600;
    }

    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 8px 0 0;
    }
  }
}

#cta-primary {
  background-color: $mirror_1;
  text-align: center;

  p {
    color: $pure_white;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 40px 0 10px;
  }

  .input-group {
    font-size: 16px;
    margin: 0 auto 40px;

    input,button {
      height: 56px;
      border: 0;
      box-shadow: none;
    }

    input {
      width: auto;
    }

    button {
      width: 100px;
      background: $cinnabar;
      color: $pure_white;
      font-weight: 600;

    }
  }
}

footer {
  background: $deep_purple;
  color: $pure_white;
  padding: 200px 0;
  text-align: center;
}

@import "desktop";
