---
title: Resources | Reflektive
---

<section id="top">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <%= image_tag 'logo-reflektive.svg', alt: "Reflektive", height: 32 %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Product</a></li>
          <li><a href="#">Customers</a></li>
          <li class="active"><a href="#">Resources</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Company</a></li>
          <li><a class="btn-dark" href="#">Get Started</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section id="hero">
  <div class="hero-slider">
		<div style="background-image: url('images/hero/slide_1@2x.png');">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-push-4">
            <div class="hero-slider__slide">
              <div class="hero-slider__slide__content">
                <span>eBook</span>
                <h3>The Ultimate Guide to Real-Time Feedback</h3>
                <p>
                  Modern workplaces are using continuous, or real-time feedback, to motivate and empower employees.
                </p>
                <a class="btn-download" href="google.com">Download PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div style="background-image: url('images/hero/slide_2@2x.png');">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-push-4">
            <div class="hero-slider__slide">
              <div class="hero-slider__slide__content">
                <span>Case Study</span>
                <h3>Looking For Your DVD Printing Solution</h3>
                <p>
                  Modern workplaces are using continuous, or real-time feedback, to motivate and empower employees.
                </p>
                <a class="btn-download" href="#">View Case Study</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div style="background-image: url('images/hero/slide_3@2x.png');">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-push-4">
            <div class="hero-slider__slide">
              <div class="hero-slider__slide__content">
                <span>Webinar</span>
                <h3>Choosing The Best Audio Player Software For Your Computer</h3>
                <p>
                  Modern workplaces are using continuous, or real-time feedback, to motivate and empower employees.
                </p>
                <a class="btn-download" href="#">Watch Video</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-slider-nav-container visible-lg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="hero-slider-nav">
            <div>
              <span class="resource-type">eBook</span>
              <h3>The Ulimate Guide to Real-Time Feedback</h3>
              <span class="active-arrow"></span>
            </div>
            <div>
              <span class="resource-type">Case Study</span>
              <h3>Looking For Your DVD Printing Solution</h3>
              <span class="active-arrow"></span>
            </div>
            <div>
              <span class="resource-type">Webinar</span>
              <h3>Choosing The Best Audio Player Software For Your Computer</h3>
              <span class="active-arrow"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="resource-grid">
  <div class="container">
    <div class="row">
      <h2>Performance Management &amp; Talent Development Resources</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!--
      <div class="dropdown hidden-lg">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          All Resources
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">eBooks</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Webinars</a></li>
          <li><a href="#">Blog Posts</a></li>
          <li><a href="#">Datasheets</a></li>
          <li><a href="#">Infographics</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
      -->
      <%= partial 'partials/resource-type-filter' %>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="resource-item col-lg-3 col-xs-6 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <img src="images/items/ebook_ultimate_guide.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              eBook
            </span>
            <h3>The Ultimate Guide to Real-Time Feedback</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item resource-item__email-cta col-lg-3 hidden-xs">
        <div class="resource-item__body">
          <div class="resource-item__body-cell">
            <h3>Enter your email below to stay up-to-date!</h3>
            <form>
              <input type="text" placeholder="Email Address" />
              <input type="submit" value="SIGN UP" />
            </form>
          </div>
        </div>
      </div><!-- resource-item -->

      <div class="resource-item col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <img src="images/items/how_to_manage.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              Article
            </span>
            <h3>How to manage compensation without performance ratings</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <img src="images/items/digital_photo_printing.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              Datasheet
            </span>
            <h3>V7 Digital Photo Printing</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item resource-item__video-resource col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <div class="resource-item__btn-play"></div>
            <img src="images/items/video_games.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              Webinar
            </span>
            <h3>Video Games Playing With Imagination</h3>
            <span class="resource-item__cta-text">Watch the Video</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <img src="images/items/can_you_get.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              Case Study
            </span>
            <h3>Can You Get Free Games For Your iPhone</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item resource-item__icon-type col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <div class="resource-item__image-cell">
              <svg width="32px" height="32px" viewBox="15 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="doc-notebook" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(15.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M10.5681818,10.5681818 L23.25,10.5681818" id="Stroke-204" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M20.4318182,13.3863636 L13.3863636,13.3863636" id="Stroke-205" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,6.34090909 L6.34090909,6.34090909" id="Stroke-206" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,9.15909091 L6.34090909,9.15909091" id="Stroke-207" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,11.9772727 L6.34090909,11.9772727" id="Stroke-208" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,14.7954545 L6.34090909,14.7954545" id="Stroke-209" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,17.6136364 L6.34090909,17.6136364" id="Stroke-210" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,20.4318182 L6.34090909,20.4318182" id="Stroke-211" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,23.25 L6.34090909,23.25" id="Stroke-212" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,26.0681818 L6.34090909,26.0681818" id="Stroke-213" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M4.93181818,28.1818182 L4.93181818,4.22727273 C4.93181818,3.06054545 5.87802273,2.11363636 7.04545455,2.11363636 L25.3636364,2.11363636 C26.5310682,2.11363636 27.4772727,3.06054545 27.4772727,4.22727273 L27.4772727,28.1818182 C27.4772727,29.3485455 26.5310682,30.2954545 25.3636364,30.2954545 L7.04545455,30.2954545 C5.87802273,30.2954545 4.93181818,29.3485455 4.93181818,28.1818182 L4.93181818,28.1818182 Z" id="Stroke-214" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
            </div>
          </div>
          <div class="resource-item__body">
            <span>
              eBook
            </span>
            <h3>How Plasma Tvs And Lcd Tvs Differ</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <img src="images/items/becoming_a_dvd.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              Article
            </span>
            <h3>Becoming A DVD Repair Expert Online</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item resource-item__no-image col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__body">
            <span>
              Blog Post
            </span>
            <h3>How To Meet That Special Someone</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida rhoncus sollicitudin. Curabitur finibus molestie pharetra.
            </p>
            <span class="resource-item__cta-text">Read the Post</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <img src="images/items/anon_proxy.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              eBook
            </span>
            <h3>Anonymous Proxy</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item resource-item__video-resource col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <div class="resource-item__btn-play"></div>
            <img src="images/items/looking_for_your_dvd.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              Case Study
            </span>
            <h3>Looking For Your DVD Printing Solution</h3>
            <span class="resource-item__cta-text">Watch the Video</span>
          </div>
        </a>
      </div><!-- resource-item -->

      <div class="resource-item col-lg-3 col-xs-6">
        <a href="#">
          <div class="resource-item__image">
            <img src="images/items/stu_unger.jpg" />
          </div>
          <div class="resource-item__body">
            <span>
              eBook
            </span>
            <h3>Anonymous Proxy</h3>
            <span class="resource-item__cta-text">Get the PDF</span>
          </div>
        </a>
      </div><!-- resource-item -->

    </div>


    <div class="next-prev">
      <div class="row">
        <a href="#next">Next Page</a>
      </div>
    </div>

    <div class="resources-pagination">
      <div class="row">
        <div class="col-lg-12">
          <a class="resources-pagination__btn resources-pagination__btn-next" href="#"></a>
          <a class="resources-pagination__btn resources-pagination__btn-prev resources-pagination__btn-inactive" href="#prev"></a>
          <p>page 1 of 9</p>
        </div>
      </div>
    </div>

  </div>
</section>
<section id="in-the-press">
  <div class="container">
    <div class="row">
      <h2>In The Press</h2>
    </div>

    <div class="row">
      <div class="press-item col-lg-4 col-xs-6">
        <a href="#">
          <div class="press-item__image" style="background-image: url('../images/press/facts_why_inkjet.jpg')">
            <div class="press-item__body">
              <div class="press-item__meta">
                <span>10/21/2016</span>
              </div>
              <div class="press-item__body_title">
                <span class="publication">TechCrunch</span>
                <h3>Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="press-item col-lg-4 col-xs-6">
        <a href="#">
          <div class="press-item__image" style="background-image: url('../images/press/facts_why_inkjet.jpg')">
            <div class="press-item__body">
              <div class="press-item__meta">
                <span>10/21/2016</span>
              </div>
              <div class="press-item__body_title">
                <span class="publication">TechCrunch</span>
                <h3>Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="press-item col-lg-4 col-xs-6">
        <a href="#">
          <div class="press-item__image" style="background-image: url('../images/press/facts_why_inkjet.jpg')">
            <div class="press-item__body">
              <div class="press-item__meta">
                <span>10/21/2016</span>
              </div>
              <div class="press-item__body_title">
                <span class="publication">TechCrunch</span>
                <h3>Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="press-item col-lg-4 col-xs-6">
        <a href="#">
          <div class="press-item__image" style="background-image: url('../images/press/facts_why_inkjet.jpg')">
            <div class="press-item__body">
              <div class="press-item__meta">
                <span>10/21/2016</span>
              </div>
              <div class="press-item__body_title">
                <span class="publication">TechCrunch</span>
                <h3>Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="press-item col-lg-4 col-xs-6">
        <a href="#">
          <div class="press-item__image" style="background-image: url('../images/press/facts_why_inkjet.jpg')">
            <div class="press-item__body">
              <div class="press-item__meta">
                <span>10/21/2016</span>
              </div>
              <div class="press-item__body_title">
                <span class="publication">TechCrunch</span>
                <h3>Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="press-item col-lg-4 col-xs-6">
        <a href="#">
          <div class="press-item__image" style="background-image: url('../images/press/facts_why_inkjet.jpg')">
            <div class="press-item__body">
              <div class="press-item__meta">
                <span>10/21/2016</span>
              </div>
              <div class="press-item__body_title">
                <span class="publication">TechCrunch</span>
                <h3>Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="view-more">
      <div class="row">
        <a href="#view-more">View More</a>
      </div>
    </div>

  </div>
</section>

<section id="cta-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2">
        <p>
          Maecenas pulvinar a nisl ut mollis. Mauris nec eleifend nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="form-horizontal">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address">
            <span class="input-group-btn" style="width:0;">
              <button class="btn btn-default" type="button">SIGN UP</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  FOOTER
</footer>
