---
title: Resources | Reflektive
---

<section id="top">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <%= image_tag 'logo-reflektive.svg', alt: "Reflektive", height: 32 %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Product</a></li>
          <li><a href="#">Customers</a></li>
          <li class="active"><a href="#">Resources</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Company</a></li>
          <li><a class="btn-dark" href="#">Get Started</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section id="hero">
  <div class="hero-slider">
  	<ul>
  		<li style="background: red;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-push-4">
              test
            </div>
          </div>
        </div>
      </li>
  		<li style="background: blue;">
        test
      </li>
  		<li style="background: green;">
        test3
      </li>
    </div>
  </div>
</section>

<section id="resource-grid">
  <div class="container">
    <div class="row">
      <h2>Performance Management &amp; Talent Development Resources</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="resource-type-filter">
        <ul>
          <li>
            <a href="#ebooks">
              <svg width="32px" height="32px" viewBox="15 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="doc-notebook" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(15.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M10.5681818,10.5681818 L23.25,10.5681818" id="Stroke-204" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M20.4318182,13.3863636 L13.3863636,13.3863636" id="Stroke-205" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,6.34090909 L6.34090909,6.34090909" id="Stroke-206" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,9.15909091 L6.34090909,9.15909091" id="Stroke-207" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,11.9772727 L6.34090909,11.9772727" id="Stroke-208" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,14.7954545 L6.34090909,14.7954545" id="Stroke-209" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,17.6136364 L6.34090909,17.6136364" id="Stroke-210" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,20.4318182 L6.34090909,20.4318182" id="Stroke-211" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,23.25 L6.34090909,23.25" id="Stroke-212" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M3.52272727,26.0681818 L6.34090909,26.0681818" id="Stroke-213" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M4.93181818,28.1818182 L4.93181818,4.22727273 C4.93181818,3.06054545 5.87802273,2.11363636 7.04545455,2.11363636 L25.3636364,2.11363636 C26.5310682,2.11363636 27.4772727,3.06054545 27.4772727,4.22727273 L27.4772727,28.1818182 C27.4772727,29.3485455 26.5310682,30.2954545 25.3636364,30.2954545 L7.04545455,30.2954545 C5.87802273,30.2954545 4.93181818,29.3485455 4.93181818,28.1818182 L4.93181818,28.1818182 Z" id="Stroke-214" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
              <span>eBooks</span>
            </a>
          </li>
          <li>
            <a href="#articles">
              <svg width="32px" height="32px" viewBox="19 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="doc-contract" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(19.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M4.93181818,10.5681818 L10.5681818,10.5681818" id="Stroke-12" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M4.93181818,13.3863636 L17.6136364,13.3863636" id="Stroke-14" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M4.93181818,16.2045455 L17.6136364,16.2045455" id="Stroke-16" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M4.93181818,19.0227273 L17.6136364,19.0227273" id="Stroke-18" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M13.3863636,21.8409091 C13.3863636,22.6194318 12.7557955,23.25 11.9772727,23.25 C11.19875,23.25 10.5681818,22.6194318 10.5681818,21.8409091 C10.5681818,22.6194318 9.93761364,23.25 9.15909091,23.25 C8.38056818,23.25 7.75,22.6194318 7.75,21.8409091 C7.75,22.6194318 7.11943182,23.25 6.34090909,23.25 C5.56238636,23.25 4.93181818,22.6194318 4.93181818,21.8409091" id="Stroke-20" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M30.2954545,11.9772727 L24.6590909,11.9772727" id="Stroke-22" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M28.9574523,20.4318182 C29.7084977,18.1857273 30.2657932,16.6350227 30.293975,11.9772727 C30.3376568,4.90575 28.8792477,0.694681818 27.4772023,0.704545455 C26.0751568,0.694681818 24.6167477,4.90575 24.6604295,11.9772727 C24.6893159,16.6350227 25.2459068,18.1857273 25.9969523,20.4318182 L28.9574523,20.4318182 L28.9574523,20.4318182 Z" id="Stroke-24" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M26.7727273,20.4318182 C26.7727273,20.4318182 26.288,23.002 24.6590909,24.6590909 C24.6590909,24.6590909 27.4631818,28.1423636 27.4772727,30.2954545 C27.4631818,28.1423636 30.2954545,24.6590909 30.2954545,24.6590909 C28.6454091,22.9794545 28.1818182,20.4318182 28.1818182,20.4318182" id="Stroke-26" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M2.81818182,0.704545455 L15.5,0.704545455 L21.8409091,7.04545455 L21.8409091,28.1818182 C21.8409091,29.3485455 20.894,30.2954545 19.7272727,30.2954545 L2.81818182,30.2954545 C1.65075,30.2954545 0.704545455,29.3485455 0.704545455,28.1818182 L0.704545455,2.81818182 C0.704545455,1.65145455 1.65075,0.704545455 2.81818182,0.704545455" id="Stroke-28" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M14.7954545,0.704545455 L14.7954545,5.63636364 C14.7954545,6.80309091 15.7423636,7.75 16.9090909,7.75 L21.8409091,7.75" id="Stroke-30" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
              <span>Articles</span>
            </a>
          </li>
          <li>
            <a href="#webinars">
              <svg width="32px" height="32px" viewBox="24 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="mov-computer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(24.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M11.9772727,5.55512955 L11.9772727,12.7633341 C11.9772727,13.2691977 12.56275,13.5636977 12.9840682,13.2691977 L18.7564091,9.66544773 C19.1115,9.41744773 19.1115,8.90101591 18.7564091,8.65301591 L12.9840682,5.04856136 C12.56275,4.75476591 11.9772727,5.04926591 11.9772727,5.55512955 L11.9772727,5.55512955 Z" id="Stroke-630" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M0.704545455,17.6136364 L30.2954545,17.6136364" id="Stroke-631" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M2.81818182,23.25 C1.65075,23.25 0.704545455,22.3037955 0.704545455,21.1363636 L0.704545455,2.81818182 C0.704545455,1.65075 1.65075,0.704545455 2.81818182,0.704545455 L28.1818182,0.704545455 C29.34925,0.704545455 30.2954545,1.65075 30.2954545,2.81818182 L30.2954545,21.1363636 C30.2954545,22.3037955 29.34925,23.25 28.1818182,23.25 L2.81818182,23.25 L2.81818182,23.25 Z" id="Stroke-632" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M11.2727273,26.0681818 L10.5681818,28.8863636 C10.5681818,29.6641818 11.1994545,30.2954545 11.9772727,30.2954545 L19.0227273,30.2954545 C19.8005455,30.2954545 20.4318182,29.6641818 20.4318182,28.8863636 L19.7272727,26.0681818" id="Stroke-633" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M14.7954545,20.4318182 L16.2045455,20.4318182" id="Stroke-634" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
              <span>Webinars</span>
            </a>
          </li>
          <li>
            <a href="#blog-posts">
              <svg width="32px" height="32px" viewBox="24 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="net-wifi-edit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(24.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M23.25,0.704545455 C10.7992727,0.704545455 0.704545455,10.79575 0.704545455,23.25" id="Stroke-113" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M23.25,5.63636364 C13.5230455,5.63636364 5.63636364,13.5202273 5.63636364,23.25" id="Stroke-114" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M23.25,10.5681818 C16.2461136,10.5681818 10.5681818,16.2447045 10.5681818,23.25" id="Stroke-115" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M27.415625,17.8216886 L28.6795795,19.0863477 C28.9550568,19.361825 28.9550568,19.8070977 28.6795795,20.082575 L20.673125,28.0918477 L16.2041932,30.2956659 L18.4080114,25.825325 L26.4102386,17.8216886 C26.6878295,17.5440977 27.1387386,17.5440977 27.415625,17.8216886 L27.415625,17.8216886 Z" id="Stroke-116" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M18.60775,25.6262909 L20.8770909,27.8864727" id="Stroke-117" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
              <span>Blog Posts</span>
            </a>
          </li>
          <li>
            <a href="#datasheets">
              <svg width="32px" height="32px" viewBox="31 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="fil-graph" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(31.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M26.0681818,28.8863636 C26.0681818,29.6648864 25.4376136,30.2954545 24.6590909,30.2954545 L4.93181818,30.2954545 C4.15329545,30.2954545 3.52272727,29.6648864 3.52272727,28.8863636 L3.52272727,2.11363636 C3.52272727,1.33511364 4.15329545,0.704545455 4.93181818,0.704545455 L19.7272727,0.704545455 L26.0681818,7.04545455 L26.0681818,28.8863636 L26.0681818,28.8863636 Z" id="Stroke-21" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M19.0227273,0.704545455 L19.0227273,6.34090909 C19.0227273,7.11943182 19.6532955,7.75 20.4318182,7.75 L26.0681818,7.75" id="Stroke-22" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M21.8409091,20.4318182 L7.75,20.4318182" id="Stroke-23" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M10.5681818,20.4318182 L10.5681818,17.6136364" id="Stroke-24" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M14.7954545,19.7272727 L14.7954545,14.7954545" id="Stroke-25" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M19.0227273,20.4318182 L19.0227273,11.9772727" id="Stroke-26" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
              <span>Datasheets</span>
            </a>
          </li>
          <li>
            <a href="#infographics">
              <svg width="32px" height="32px" viewBox="37 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="pre-doc-pie-chart-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(37.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5.63636364,0.704545455 L19.7272727,0.704545455 L26.0681818,7.04545455 L26.0681818,28.1818182 C26.0681818,29.3485455 25.1212727,30.2954545 23.9545455,30.2954545 L5.63636364,30.2954545 C4.46963636,30.2954545 3.52272727,29.3485455 3.52272727,28.1818182 L3.52272727,2.81818182 C3.52272727,1.65145455 4.46963636,0.704545455 5.63636364,0.704545455" id="Stroke-19" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M19.0227273,0.704545455 L19.0227273,5.63636364 C19.0227273,6.80309091 19.9696364,7.75 21.1363636,7.75 L26.0681818,7.75" id="Stroke-20" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M21.8409091,16.2045455 C21.8409091,20.09575 18.6866591,23.25 14.7954545,23.25 C10.90425,23.25 7.75,20.09575 7.75,16.2045455 C7.75,12.3133409 10.90425,9.15909091 14.7954545,9.15909091 C18.6866591,9.15909091 21.8409091,12.3133409 21.8409091,16.2045455 L21.8409091,16.2045455 Z" id="Stroke-21" stroke="#484E63" stroke-width="1.39999998"></path>
                  <polyline id="Stroke-22" stroke="#484E63" stroke-width="1.39999998" points="14.7954545 9.15909091 14.7954545 16.2045455 21.8409091 16.2045455"></polyline>
                  <path d="M14.7954545,16.2045455 L9.81361364,11.2227045" id="Stroke-23" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M14.7954545,16.2045455 L9.81361364,21.1863864" id="Stroke-24" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
              <span>Infographics</span>
            </a>
          </li>
          <li>
            <a href="#case-studies">
              <svg width="32px" height="32px" viewBox="38 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs></defs>
                  <g id="use-user-search" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(38.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M19.0227273,6.34090909 C19.0227273,9.45359091 16.4990455,11.9772727 13.3863636,11.9772727 C10.2736818,11.9772727 7.75,9.45359091 7.75,6.34090909 C7.75,3.22822727 10.2736818,0.704545455 13.3863636,0.704545455 C16.4990455,0.704545455 19.0227273,3.22822727 19.0227273,6.34090909 L19.0227273,6.34090909 Z" id="Stroke-16" stroke="#484E63" stroke-width="1.39999998"></path>
                      <path d="M0.704545455,24.6590909 C0.704545455,17.6552045 6.38247727,11.9772727 13.3863636,11.9772727 C16.6286818,11.9772727 19.5863636,13.1940227 21.8282273,15.1949318" id="Stroke-17" stroke="#484E63" stroke-width="1.39999998"></path>
                      <path d="M21.8780386,26.0310523 L17.613425,30.2956659" id="Stroke-18" stroke="#484E63" stroke-width="1.39999998"></path>
                      <path d="M30.2954545,22.5454545 C30.2954545,19.8216818 28.0874091,17.6136364 25.3636364,17.6136364 C22.6398636,17.6136364 20.4318182,19.8216818 20.4318182,22.5454545 C20.4318182,25.2692273 22.6398636,27.4772727 25.3636364,27.4772727 C28.0874091,27.4772727 30.2954545,25.2692273 30.2954545,22.5454545 L30.2954545,22.5454545 Z" id="Stroke-19" stroke="#484E63" stroke-width="1.39999998"></path>
                  </g>
              </svg>
              <span>Case Studies</span>
            </a>
          </li>
          <li>
            <a href="#events">
              <svg width="32px" height="32px" viewBox="12 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="loc-point" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(12.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M23.3255977,15.5221227 L14.7956659,30.2957364 L6.272075,15.5362136 C5.42027955,14.0771 4.93202955,12.37985 4.93202955,10.5684636 C4.93202955,5.12091818 9.34812045,0.704827273 14.7956659,0.704827273 C20.2432114,0.704827273 24.6593023,5.12091818 24.6593023,10.5684636 C24.6593023,12.3742136 24.1738705,14.0665318 23.3263023,15.5228273 L23.3255977,15.5221227 L23.3255977,15.5221227 Z" id="Stroke-348" stroke="#484E63" stroke-width="1.39999998"></path>
                  <path d="M10.5681818,10.5681818 C10.5681818,8.23331818 12.4605909,6.34090909 14.7954545,6.34090909 C17.1303182,6.34090909 19.0227273,8.23331818 19.0227273,10.5681818 C19.0227273,12.9030455 17.1303182,14.7954545 14.7954545,14.7954545 C12.4605909,14.7954545 10.5681818,12.9030455 10.5681818,10.5681818 L10.5681818,10.5681818 Z" id="Stroke-349" stroke="#484E63" stroke-width="1.39999998"></path>
                </g>
              </svg>
              <span>Events</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="resource--item col-lg-3">
        <div class="resource--item__image">
          <img src="images/items/ebook_ultimate_guide.jpg" />
        </div>
        <div class="resource--item__body">
          <span>
            eBook
          </span>
          <h3>The Ultimate Guide to Real-Time Feedback</h3>
          <span class="resource--item__cta-text">Get the PDF</a>
        </div>
      </div><!-- resource-item -->
      <div class="resource--item resource--item__icon-type col-lg-3">
        <div class="resource--item__image">
          <div class="resource--item__image-cell">
            <svg width="32px" height="32px" viewBox="15 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <g id="doc-notebook" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(15.000000, 0.000000)" stroke-linecap="round" stroke-linejoin="round">
                <path d="M10.5681818,10.5681818 L23.25,10.5681818" id="Stroke-204" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M20.4318182,13.3863636 L13.3863636,13.3863636" id="Stroke-205" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,6.34090909 L6.34090909,6.34090909" id="Stroke-206" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,9.15909091 L6.34090909,9.15909091" id="Stroke-207" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,11.9772727 L6.34090909,11.9772727" id="Stroke-208" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,14.7954545 L6.34090909,14.7954545" id="Stroke-209" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,17.6136364 L6.34090909,17.6136364" id="Stroke-210" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,20.4318182 L6.34090909,20.4318182" id="Stroke-211" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,23.25 L6.34090909,23.25" id="Stroke-212" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M3.52272727,26.0681818 L6.34090909,26.0681818" id="Stroke-213" stroke="#484E63" stroke-width="1.39999998"></path>
                <path d="M4.93181818,28.1818182 L4.93181818,4.22727273 C4.93181818,3.06054545 5.87802273,2.11363636 7.04545455,2.11363636 L25.3636364,2.11363636 C26.5310682,2.11363636 27.4772727,3.06054545 27.4772727,4.22727273 L27.4772727,28.1818182 C27.4772727,29.3485455 26.5310682,30.2954545 25.3636364,30.2954545 L7.04545455,30.2954545 C5.87802273,30.2954545 4.93181818,29.3485455 4.93181818,28.1818182 L4.93181818,28.1818182 Z" id="Stroke-214" stroke="#484E63" stroke-width="1.39999998"></path>
              </g>
            </svg>
          </div>
        </div>
        <div class="resource--item__body">
          <span>
            eBook
          </span>
          <h3>How Plasma Tvs And Lcd Tvs Differ</h3>
          <span class="resource--item__cta-text">Get the PDF</a>
        </div>
      </div><!-- resource-item -->
      <div class="resource--item resource--item__video-resource col-lg-3">
        <div class="resource--item__image">
          <div class="resource--item__btn-play"></div>
          <img src="images/items/video_games.jpg" />
        </div>
        <div class="resource--item__body">
          <span>
            Webinar
          </span>
          <h3>Video Games Playing With Imagination</h3>
          <span class="resource--item__cta-text">Watch the Video</a>
        </div>
      </div><!-- resource-item -->
      <div class="resource--item resource--item__no-image col-lg-3">
        <div class="resource--item__body">
          <span>
            Blog Post
          </span>
          <h3>How To Meet That Special Someone</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida rhoncus sollicitudin. Curabitur finibus molestie pharetra. Fusce eleifend blandit erat, at faucibus lorem convallis in. Integer faucibus ut sapien et congue.
          </p>
          <span class="resource--item__cta-text">Read the Post</a>
        </div>
      </div><!-- resource-item -->
      <div class="resource--item resource--item__email-cta col-lg-3">
        <div class="resource--item__body">
          <div class="resource--item__body-cell">
            <h3>Enter your email below to stay up-to-date!</h3>
            <form>
              <input type="text" placeholder="Email Address" />
              <input type="submit" value="SIGN UP" />
            </form>
          </div>
        </div>
      </div><!-- resource-item -->
    </div>
  </div>
</section>
